{% extends "base.html" %}
{% block header %}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">ToDoList</h1>
        <p class="lead">スケジュール管理をしよう</p>
      </div>
    </div>
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p>{{ todo_delete.title }}</p>
    <p>{{ todo_delete.memo }}</p>
    <p>{{ todo_delete.duedate }}</p>

    <form action ="" method="POST">{% csrf_token %}
      <input type = "submit" value = "削除">
    </form>

  </div>
</div>



<a href="{% url 'list' %}">一覧</a>

{% endif %}
{% endblock content %}
